# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/HomeAutomation2.iml
.idea/**/misc.xml


# Confidential stuff
.python_hue
docker-compose.yml
private_info.py
/Fam. van der Stoep-Maandelijkse statistieken-20220913.xlsx

# Virtual environment
venv/
