# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea

# Confidential stuff
.python_hue
docker-compose.yml
private_info.py

# Virtual environment
venv/
